body{
  margin: 0;
  font-family: 'Muli', sans-serif;
}
  
*{
  box-sizing: border-box;
}
  
ul,li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  
a{
  text-decoration: none;
  color: black;
}

a[href^=tel]{
  color: black;
}
